{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    {% block js %}
        <meta charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block style %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{% static "css/paliturka_style.css" %}"/>
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>