<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
    <H1>Bookcrossing Lviv!</H1>
    <link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />
    {% include 'django_facebook/_facebook_js.html' %}
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Welcome {{ user }}</h1><a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}">logout</a><br />
    {% else %}
        <p>You can login here!</p>
        <form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
            <input type="hidden" value="{{ request.path }}" name="next" />
            <input type="hidden" value="{{ request.path }}" name="register_next" />
            <input type="hidden" value="{{ request.path }}" name="error_next" />
            {% csrf_token %}
            <input onclick="F.connect(this.parentNode); return false;" type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" />
        </form>
    {% endif %}
    {% for book in today_books %}
        <div>
            <p>{{ book.name }}</p>
            <p>{{ book.author }}</p>
        </div>
    {% endfor %}
</body>
</html>